/*It's stylin' time*/
h1 {
    font-weight: 900;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
body {
    text-align: center;
}
.blueText {
    color: blue;
    text-transform: uppercase;
}
#recWord {
    font-family: arial black;
    font-size: 60px;
    background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet,
        red
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 35s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}

.boxOut {
    margin: auto;
    /*background-color: aqua;*/
    background-image: linear-gradient(to right, blue, aqua);
    min-width: 4em;
    min-height: 4em;
    max-width: fit-content;
    max-height: fit-content;
    border: solid 1px black;
    border-radius: 5px;
}

#subBut {
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px #777;
}
